:root {
    // Текст
    --color-text-primary: #403F3D;
    --color-text-inverse: #E1D4C9;
    --color-text-accent: #B0907A;

    // Бэк
    --color-bg-page: #E1D4C9;
    --color-bg-container: #665F55;
    --color-bg-overlay: #403F3D;

    // Бордер
    --color-border-primary: #C1B6AD;
    --color-border-inverse: #665F55;
}

[data-theme="dark"] {
    // Текст
    --color-text-primary: #E1D4C9;
    --color-text-inverse: #E1D4C9;
    --color-text-accent: #B0907A;
    
    // Бэк
    --color-bg-page: #292826;
    --color-bg-container: #403F3D;
    --color-bg-overlay: #292826;
    
    // Бордер
    --color-border-primary: #665F55;
    --color-border-inverse: #C1B6AD;
}