@use '_themes';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--color-bg-page);
    transition: all 0.5s ease;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;

    &__logo {

        a {
            color: var(--color-text-primary);
        }
    }

    &__container {
        display: inherit;
        align-items: center;
        justify-content: space-between;
        width: 1360px;
        height: inherit;
    }

    &__nav {
        &-list {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            gap: 40px;

            a {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;
                color: var(--color-text-primary);
                text-decoration: none;
            }
        }
    }

    &__theme {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 184px;
        height: 44px;

        &-switch {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 2px;
            gap: 8px;
            width: 88px;
            height: 44px;
            border: 1px solid var(--color-border-primary);
            border-radius: 100px;

        }
    }

    &__menu {
        position: relative;
        display: flex;
        width: 72px;
        height: 28px;
        gap: 8px;
        color: var(--color-text-primary);

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--color-text-primary);
            transition: all 0.3s ease;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }

        a {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: var(--color-text-primary);
            text-decoration: none;
        }
    }
}

.switch {

    &-btn {
        cursor: pointer;
        z-index: 10;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        transition: all 0.3s ease;
        color: var(--color-text-primary);

        &:not(.active):hover {
            background-color: var(--color-bg-container);
        }

        &.active {
            background-color: var(--color-text-accent);
            color: var(--color-text-inverse);
        }

        &:nth-child(2) {
            color: var(--color-text-primary);

            &:not(.active):hover {
                background-color: var(--color-border-inverse);
                color: var(--color-text-inverse);
            }
        }
    }
}

.hero {
    margin-bottom: 100px;

    &__container {
        display: flex;
        flex-direction: column;
        width: 1360px;
        background: url('../img/img-hero.jpg') no-repeat center/cover;
        padding: 100px;
        border-radius: 40px;
        margin: 0 auto;
    }

    &__title {
        font-weight: 600;
        font-size: 72px;
        line-height: 105%;
        color: var(--color-text-inverse);
        width: 530px;
        height: 228px;
        margin-bottom: 40px;

        span {
            font-style: italic;
            color: var(--color-text-accent);
        }
    }

    &__descr {
        width: 530px;
        height: 72px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: var(--color-text-inverse);
        margin-bottom: 40px;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 20px 0;
        padding-left: 25px;
        width: 200px;
        height: 64px;
        background: var(--color-bg-page);
        border: none;
        border-radius: 100px;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &-ico {
            color: var(--color-text-primary);
            transform: translateX(95px);
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            padding-left: 0;

            & .hero__btn-ico {
                transform: translateX(0);
            }
        }

        &:active {
            filter: brightness(0.9);
        }

        a {
            display: inline;
            color: var(--color-text-primary);
            text-decoration: none;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;

        }
    }
}

.slider {

    &__container {
        position: relative;
        width: 1360px;
        margin: 0 auto;
    }

    &__title {
        height: 75px;
        margin-bottom: 40px;
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        line-height: 125%;
        text-align: center;
        color: var(--color-text-primary);

        span {
            font-style: italic;
            color: var(--color-text-accent);
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__coffee-name {
        margin-bottom: 16px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 125%;
        text-align: center;
        color: var(--color-text-primary);
    }

    &__descr {
        width: 480px;
        margin: 0 auto;
        margin-bottom: 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: var(--color-text-primary);
    }

    &__price {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 125%;
        text-align: center;
        color: var(--color-text-primary);
        margin-bottom: 40px;
    }

    &__btn {
        cursor: pointer;
        color: var(--color-border-inverse);
        transition: all 0.3s ease;

        &:hover {
            width: 60px;
            height: 60px;
            background: var(--color-bg-container);
            color: var(--color-text-inverse);
            border-radius: 100px;

        }

        &.btn-prev {
            position: absolute;
            left: 0;
            top: 50%;
        }

        &.btn-next {
            position: absolute;
            right: 0;
            top: 50%;
        }
    }

    &__dots {
        display: flex;
        justify-content: center;
        gap: 12px;

        .dot {
            width: 40px;
            height: 4px;
            background: var(--color-border-primary);
            border-radius: 100px;

            &.active {
                background: var(--color-border-inverse);
            }
        }
    }
}